@media screen and (max-width: 700px){
    .stem-modal-rating-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .actions {
        flex-wrap: wrap;
    }
    .actions .extra-buttons .widget-button {
        margin-left: -11px;
        max-width: none !important;
    }
}

.topic-map .avatars {
    display: none;
}

.logo-big {
    display: none;
}

#site-text-logo {
    display: none;
}

#main-outlet {
    min-height: 71vh;
}

body {
    margin: 0;
}
main {
    min-height: 90vh;
}

.stem-header * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.stem-navbar {
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
    background: white;
}
.stem-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    height: 50px;
    z-index: 1001;
    /* transform: translateX(0); */
}
.stem-translatable {
    position: relative;
    transition: transform .5s ease;
}

.stem-logo {
    display: inline-block;
    background: url($logo);
    width: 100px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.stem-navbar-toggler {
    display: none;
}

.stem-navbar-collapse {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.stem-navbar-nav {
    list-style: none;
    font-size: 0;
}
.stem-navbar-nav li {
    display: inline-block;
    font-size: 12px;
}
.stem-navbar-nav a {
    display: inline-block;
    text-decoration: none;
    color: rgb(85, 85, 85);
    padding: 15px;
}

.stem-dropdown {
    position: relative;
}

.stem-dropdown > a::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    transition: transform 150ms linear, -webkit-transform 150ms linear;
    will-change: transform;
}
.stem-dropdown.stem-open a::after {
    transform: rotateZ(180deg);
}

.stem-dropdown-menu {
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 50px;
    display: block;
    width: 160px;
    padding: 5px 0;
    border: none;
    transform-origin: 0 0;
    will-change: transform, opacity;
    transition: visibility 0.3s, transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 1001;
    color: #212529;
    text-align: left;
    background: white;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}
.stem-dropdown.stem-open > .stem-dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.stem-dropdown > .stem-dropdown-menu .stem-open-right .stem-dropdown-menu {
    top: -5px;
    left: 160px;
}

.stem-dropdown > .stem-dropdown-menu .stem-open-left .stem-dropdown-menu {
    top: -5px;
    left: -160px;
    transform-origin: 160px 0;
}

.stem-dropdown-menu li {
    display: block;
}
.stem-dropdown-menu a {
    margin: 0 5px;
    padding: 10px 24px;
    text-transform: none;
    display: block;
    position: relative;
    line-height: 1.42857;
    border-radius: 2px;
}
.stem-dropdown .stem-dropdown-menu a:hover {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
    background-color: #4caf50;
    color: #FFFFFF;
}

.stem-dropdown .stem-dropdown-menu a::after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: rotateZ(270deg);
}

.stem-dropdown .stem-dropdown-menu .stem-dropdown.stem-open a::after {
    transform: rotateZ(90deg);
}

.stem-button-container a.stem-button-signup {
    display: inline-block;
    padding: 12px 30px;
    box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
    color: #fff;
    background-color: #4caf50;
    border-color: #4caf50;
    border-radius: 30px;
    line-height: 17px;
    transition: box-shadow .3s, border-color .3s, background-color .3s;
}
.stem-button-container a.stem-button-signup:hover {
    background-color: #47a44b;
    border-color: #255627;
    box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

.stem-footer * {
    margin: 0;
    padding: 0;
}
.stem-footer {
    background-color: #343a40;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 15px;
}
.stem-footer a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    padding: 15px;
}
.stem-footer a:hover {
    color: #449d48;
}
.stem-copyright {
    flex-grow: 0;
    font-size: 15px;
}

.stem-footer-links {
    margin: 0;
    flex-grow: 1;
    list-style: none;
    text-align: center;
}
.stem-footer-links li {
    display: inline-block;
}

.stem-footer-social {
    flex-grow: 0;
    font-size: 20px;
}


@media (max-width: 1199px) {
    .stem-container {
        max-width: 960px
    }
}
@media (max-width: 991px) {
    .stem-container {
        max-width: 720px;
        transition: transform .3s;
        position: static;
    }
    .stem-navbar-open .stem-translatable {
        transform: translateX(-230px);
    }
    .stem-navbar-toggler {
        display: block;
        /* padding: 0.25rem 0.75rem; */
        font-size: 20px;
        line-height: 14px;
        height: 14px;
        background-color: transparent;
        border: none;
        border-radius: 0.25rem;
        position: absolute;
        top: 50%;
        right: 27px;
        width: 22px;
        transform: translateY(-50%);
    }
    .stem-navbar-toggler .stem-toggler-icon {
        width: 22px;
        height: 2px;
        outline: 0;
        display: block;
        border-radius: 1px;
        background-size: 100% 100%;
        background-color: #555;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transform-origin: 50% 50%;
        transition: opacity .3s, transform .5s ease;
    }
    .stem-navbar-toggler .stem-toggler-icon:first-child {
        transform: translateY(-7px);
    }
    .stem-navbar-toggler .stem-toggler-icon:nth-child(2) {
        opacity: 1;
    }
    .stem-navbar-toggler .stem-toggler-icon:last-child {
        transform: translateY(5px);
    }
    .stem-navbar-open .stem-navbar-toggler .stem-toggler-icon:first-child {
        transform: translateY(0) rotateZ(45deg);
    }
    .stem-navbar-open .stem-navbar-toggler .stem-toggler-icon:nth-child(2) {
        opacity: 0;
    }
    .stem-navbar-open .stem-navbar-toggler .stem-toggler-icon:last-child {
        transform: translateY(0) rotateZ(-45deg);
    }
    .stem-navbar-collapse {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        /* height: 100vh; */
        background: white;
        transition: transform .5s ease;
        transform: translateX(100%);
        width: 230px;
        z-index: 1001;
    }
    .stem-navbar-open .stem-navbar-collapse {
        transform: translateX(0);
    }

    .stem-navbar-nav{
        padding: 0 15px;
    }
    .stem-navbar-nav li {
        display: block;
        border-bottom: 1px solid #e5e5e5; 
        padding: 5px 0;
    }
    .stem-navbar-nav a {
        display: block;
        padding: 15px;
        line-height: 20px;
        position: relative;
    }
    li.stem-button-container {
        border: none;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .stem-button-container a.stem-button-signup {
        display: block;
        text-align: center;
    }
    .stem-dropdown > a::after {
        position: absolute;
        right: 16px;
        top: 50%;
    }
    .stem-dropdown-menu {
        position: relative;
        top: 0;
        display: none;
        width: 100%;
        box-shadow: none;
        padding: 5px 0 15px 0;
        margin-bottom: 10px;
    }
    .stem-dropdown.stem-open > .stem-dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    
    .stem-dropdown > .stem-dropdown-menu .stem-open-left .stem-dropdown-menu,
    .stem-dropdown > .stem-dropdown-menu .stem-open-right .stem-dropdown-menu {
        top: 0;
        left: 0;
        right: 0;
    }
    .stem-dropdown > .stem-dropdown-menu li {
        border: none;
        padding: 0;
    }
    .stem-dropdown > .stem-dropdown-menu a {
        padding: 10px;
        line-height: 18px;
    }
    .stem-dropdown > .stem-dropdown-menu .stem-dropdown-menu a {
        padding-left: 20px;
    }
    .stem-dropdown .stem-dropdown-menu a::after {
        transform: rotateZ(0deg);
    }
    .stem-dropdown .stem-dropdown-menu .stem-dropdown.stem-open a::after {
        transform: rotateZ(180deg);
    }

    .stem-footer {
        flex-direction: column;
    }
    .stem-footer a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .stem-copyright {
        order: 3;
    }
    .stem-footer-links {
        order: 1;
    }
    .stem-footer-social {
        order: 2;
    }
}
@media (max-width: 767px) {
    .stem-container {
        max-width: 540px
    }
}
