<footer class="stem-footer">
    <a href="/" class="stem-copyright">
        &copy; <span class="jStemCurrentYear"></span> STEM-Away Inc.
    </a>

    <ul class="stem-footer-links">
        <li>
            <a href="https://www.stemaway.com/company/learn-more">
                ABOUT US
            </a>
        </li>
        <li>
            <a href="https://www.stemaway.com/company/privacy-policy">
                PRIVACY POLICY
            </a>
        </li>
        <li>
            <a href="https://www.stemaway.com/company/terms-of-use">
                TERMS OF SERVICE
            </a>
        </li>
        <li>
            <a href="https://www.stemaway.com/support/contact">
                CONTACT US
            </a>
        </li>
    </ul>

    <div class="stem-footer-social">
        <a href="http://www.twitter.com/stemaway" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/stemaway" target="_blank">
            <i class="fa fa-facebook-square"></i>
        </a>
        <a href="http://www.instagram.com/stemaway" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
    </div>
</footer>