<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">

<header class="stem-header">
    <nav class="stem-navbar jStemNavbar">
        <div class="stem-container ">
            <div class="stem-translatable">
                <a href="/" class="stem-logo">
                </a>

                <button type="button" class="stem-navbar-toggler jStemToggler">
                    <span class="stem-toggler-icon"></span>
                    <span class="stem-toggler-icon"></span>
                    <span class="stem-toggler-icon"></span>
                </button>
            </div>

            <div class="stem-navbar-collapse" id="stem-navbar">
            </div>
        </div>
    </nav>
</header>

<script type="text/discourse-plugin" version="0.8.20">

	function setDirection(item) {
        var measurements = item.getBoundingClientRect()
        const spaceLeft = window.innerWidth - (measurements.x + measurements.width)
        if ( spaceLeft < measurements.width ) {
            item.classList.add('stem-open-left')
        } else {
            item.classList.add('stem-open-right')
        }
    }

    function closeDropdown(item) {
        item.classList.remove('stem-open')
    }

    function openDropdown(item) {
        item.classList.remove('stem-open-left')
        item.classList.remove('stem-open-right')

        setDirection(item)

        item.classList.add('stem-open')
    }

	function initMenuFunctionality() {
		// Get all dropdown links
		var dropdowns = document.querySelectorAll('.jStemDropdown')

		// Event listener that toggles the dropdown menus on click
		dropdowns.forEach(function(item) {
			item.addEventListener('click', function(event) {
				// event.preventDefault();
				event.stopPropagation();
				
				if (item.classList.contains('stem-open')) {
					closeDropdown(item);
				} else {
					if (item.closest('.jStemDropdownMenu')) {
						var openDropdowns = item.closest('.jStemDropdownMenu')
							.querySelectorAll('.stem-open');
						
						openDropdowns.forEach(function (item) {
							closeDropdown(item);
						})
					}
					
					openDropdown(item);
				}
			})
		});
		
			
    	// Get all the dropdown menus
        var dropdownMenus = document.querySelectorAll('.jStemDropdownMenu')
        
        // Event listeners to stop event bubbling up when clicking on a dropdown menu
        dropdownMenus.forEach(function (item) {
            item.addEventListener('click', function(event) {
                event.stopPropagation()
            })
        })
        
        // Event listener to close all opened dropdowns if click outside
        document.addEventListener('click', function(event) {
            var openDropdowns = document.querySelectorAll('.jStemDropdown.stem-open')
            
            openDropdowns.forEach(function (item) {
                closeDropdown(item)
            })
            
            var mobileNav = document.querySelector('.jStemNavbar')
           mobileNav.classList.remove('stem-navbar-open')
        })
        
        var mobileNavLinks = document.querySelectorAll('.jStemNavbar li:not(.jStemDropdown) a:not(.jStemToggler)')
        var navBar = document.querySelector('.jStemNavbar')
        
        mobileNavLinks.forEach(function (item) {
            item.addEventListener('click', function(event) {
                document.querySelectorAll('.jStemDropdown.stem-open').forEach(function(item) {
                    closeDropdown(item)
                })
                navBar.classList.remove('stem-navbar-open')
                
            })
        })
    
    
        var toggler = document.querySelector('.jStemToggler')
        
        toggler.addEventListener('click', function(event) {
            event.preventDefault();
            event.stopPropagation();
        
            navBar.classList.toggle('stem-navbar-open')
        })

	}
	
	function buildMenuItem(item){
		var li = document.createElement("li");
		
		var a = document.createElement("a");
		a.href = item.path;
		a.innerText = item.name;
		li.appendChild(a);
		
		if (item.children && item.children.length > 0){
			li.classList.add("stem-dropdown");
			li.classList.add("jStemDropdown");
			
			var ul = buildMenu(item.children, "stem-dropdown-menu jStemDropdownMenu");
			li.appendChild(ul);
		}
		
		return li;
	}
	
	function buildMenu(items, classes){
		var ul = document.createElement("ul");
		var classList = classes.split(" ");
		for (c=0; c<classList.length; c++){
		    ul.classList.add(classList[c]);
		}
		for (var i=0; i<items.length; i++){
			var item = items[i];
			if (item.path == undefined || item.path == "") continue;
			var li = buildMenuItem(item);
			ul.appendChild(li);
		}
		return ul;
	}
	
	$( document ).ready(function() {
		// Get menu items
		$.ajax({
			url: "https://staging-gateway-dot-stemaway-2019.appspot.com/gateway/settings/menu"
		}).done(function(data) {
		    
            var currentYearPlaceholder = $('.jStemCurrentYear')[0];
            if (currentYearPlaceholder){
				var currentYear = (new Date()).getFullYear();
                currentYearPlaceholder.innerHTML = currentYear;
            }
			
			var items = JSON.parse(data);
			
			var navbar = $("#stem-navbar")[0];
			
			var ul = buildMenu(items, "stem-navbar-nav jStemDropdownMenu");
			navbar.appendChild(ul);
			
			initMenuFunctionality();
			
		});
	});

</script>

<script type="text/discourse-plugin" version="0.8">
	api.replaceIcon('d-liked', 'thumbs-up');
	api.replaceIcon('d-unliked', 'thumbs-up');
	api.replaceIcon('heart', 'thumbs-up');
	api.replaceIcon('bars', 'angle-double-down');
</script>